@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Outfit",sans-serif;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{
  background:#0F172A;
  color:white;
}